.icon23 {
  width: 162px;
  position: relative;
  height: 69px;
  object-fit: cover;
}
.edu-kaypiai6,
.study-have-kpi5 {
  position: relative;
  line-height: 150%;
}
.study-have-kpi5 {
  font-size: var(--m3-body-medium-size);
  font-family: var(--font-calibri);
}
.logo5 {
  height: 141px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--h4-size);
  font-family: var(--font-script-mt-bold);
}
.vector-icon31 {
  width: 18px;
  position: relative;
  height: 18px;
}
.nav-dashboard3 {
  width: 196px;
  border-radius: var(--br-8xs);
  background-color: var(--white-white-100-high-emphasys);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
}
.vector-icon32 {
  width: 18px;
  position: relative;
  height: 20px;
}
.nav-calendar5 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--white-white-100-high-emphasys);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  min-width: 196px;
}
.nav-calendar5,
.nav-report-selected1,
.nav-report9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-report9 {
  width: 196px;
  border-radius: var(--br-8xs);
  background-color: var(--primary);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  min-width: 196px;
}
.nav-report-selected1 {
  align-items: flex-start;
  color: var(--white-white-100-high-emphasys);
}
.vector-icon34 {
  width: 16px;
  position: relative;
  height: 16px;
}
.component-54 {
  width: 196px;
  border-radius: var(--br-8xs);
  background-color: var(--white-white-100-high-emphasys);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  min-width: 196px;
}
.component-54,
.nav-profile4,
.navigations-31 {
  display: flex;
  justify-content: flex-start;
}
.nav-profile4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}
.navigations-31 {
  width: 196px;
  flex: 0.55;
  background-color: var(--white-white-100-high-emphasys);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.upgrade-plan11 {
  position: relative;
}
.ai-suggestion-and5 {
  position: relative;
  font-size: var(--m3-label-medium-size);
  color: var(--color-black);
}
.upgrade-plan-parent3 {
  position: absolute;
  top: 3px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.multiple-stars-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 48px;
  object-fit: cover;
}
.frame-parent19 {
  width: 176px;
  position: relative;
  height: 48px;
}
.upgrade-plan10 {
  width: 196px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--m3-body-medium-size);
  color: var(--color-blueviolet-200);
  font-family: var(--button-2-medium-15p);
}
.logout-icon5 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.component-285,
.sidebar5 {
  width: 196px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.component-285 {
  flex-direction: row;
  justify-content: center;
  /* padding: var(--padding-8xs) var(--padding-35xl); */
  gap: var(--gap-3xs);
  color: var(--color-indianred);
}
.sidebar5 {
  align-self: stretch;
  background-color: var(--white-white-100-high-emphasys);
  border-right: 1px solid var(--color-gray-800);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  gap: var(--gap-9xl);
}
.hi-vu-thi-huong-giang-wrapper3 {
  width: 250px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.welcome-back5 {
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 28px;
}
.frame-parent20 {
  width: 275px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-child28 {
  width: 50px;
  position: relative;
  height: 50px;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  width: 255px;
  height: 50px;
}
.magnifying-glass-1-icon5 {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.search-for-something5 {
  position: absolute;
  top: 16px;
  left: 60px;
}
.rectangle-parent24 {
  width: 255px;
  position: relative;
  height: 50px;
  text-align: left;
  color: var(--color-lightsteelblue-300);
  font-family: var(--button-2-medium-15p);
}
.mask-group-icon5 {
  width: 60px;
  position: relative;
  height: 60px;
  object-fit: contain;
}
.button14,
.mask-group-parent3 {
  display: flex;
  align-items: center;
}
.button14 {
  width: 64.5px;
  border-radius: var(--br-4xs);
  background-color: var(--m3-sys-light-primary);
  height: 18px;
  flex-direction: row;
  justify-content: center;
  /* padding: 0 var(--padding-11xl); */
  box-sizing: border-box;
}
.mask-group-parent3 {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--m3-label-medium-size);
}
.button15,
.group-parent14,
.top-bar5 {
  flex-direction: row;
  align-items: center;
}
.button15 {
  width: 86px;
  border-radius: var(--br-xs);
  background-color: var(--primary);
  height: 24px;
  display: none;
  justify-content: center;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--h6-size);
}
.group-parent14,
.top-bar5 {
  display: flex;
}
.group-parent14 {
  justify-content: flex-start;
  gap: var(--gap-23xl);
  font-size: var(--button-2-medium-15p-size);
  color: var(--white-white-100-high-emphasys);
}
.top-bar5 {
  align-self: stretch;
  background-color: var(--white-white-100-high-emphasys);
  height: 157px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-xl);
  box-sizing: border-box;
}
.semester-202321,
.top-productive3 {
  width: 167.1px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 26.1px;
  flex-shrink: 0;
}
.semester-202321 {
  width: 284px;
  text-align: center;
  height: 23px;
}
.lugar3,
.vector-icon35 {
  width: 100%;
  right: 0;
  left: 0;
}
.lugar3 {
  position: absolute;
  height: 76.46%;
  top: 23.46%;
  bottom: 0.08%;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-200);
}
.vector-icon35 {
  height: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b13,
.layer-101,
.vector-icon35 {
  position: absolute;
}
.b13 {
  height: 37.43%;
  width: 16.17%;
  top: 45.81%;
  left: 35.63%;
  display: inline-block;
}
.layer-101 {
  height: 26.3%;
  width: 50.07%;
  top: 28.11%;
  right: 24.89%;
  bottom: 45.59%;
  left: 25.04%;
  color: var(--color-blue-100);
}
.fundo-ttulo3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-300);
}
.foto3,
.fundo-ttulo3,
.week-33 {
  position: absolute;
}
.week-33 {
  height: 69.17%;
  width: 93.1%;
  top: 14.29%;
  left: 3.75%;
  display: inline-block;
}
.foto3 {
  height: 10.47%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 89.53%;
  left: 0;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.b14,
.kpi3 {
  position: absolute;
  height: 11.81%;
  width: 59.37%;
  top: 82.68%;
  left: 32.38%;
  font-size: var(--font-size-smi);
  display: inline-block;
}
.b14 {
  height: 29.92%;
  width: 77.96%;
  top: 59.84%;
  left: 11.39%;
  font-size: var(--font-size-xl);
}
.lugar4,
.terceiro1 {
  position: absolute;
  bottom: 0;
}
.terceiro1 {
  height: 73.84%;
  width: 26.66%;
  top: 26.16%;
  right: 0.04%;
  left: 73.3%;
  font-size: var(--m3-body-medium-size);
}
.lugar4 {
  height: 81.45%;
  width: 87.76%;
  top: 18.55%;
  right: 12.24%;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-200);
}
.kpi4 {
  height: 9.87%;
  width: 52.11%;
  top: 70.39%;
  left: 26.32%;
}
.b15,
.b16,
.kpi4 {
  position: absolute;
  display: inline-block;
}
.b15 {
  height: 24.34%;
  width: 81.58%;
  top: 48.03%;
  left: 18.42%;
  font-size: var(--font-size-xl);
}
.b16 {
  height: 37.43%;
  width: 14.97%;
  top: 55.09%;
  left: 42.51%;
}
.cone-medalha1 {
  position: absolute;
  height: 21.97%;
  width: 43.95%;
  top: 22.37%;
  right: 34.08%;
  bottom: 55.66%;
  left: 21.97%;
  font-size: var(--m3-body-medium-size);
  color: var(--color-blue-100);
}
.week-101 {
  position: absolute;
  height: 69.17%;
  width: 81.26%;
  top: 14.29%;
  left: 9.45%;
  display: inline-block;
}
.foto4 {
  position: absolute;
  height: 8.75%;
  width: 87.76%;
  top: 0;
  right: 12.24%;
  bottom: 91.25%;
  left: 0;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.lugar5,
.segundo1 {
  position: absolute;
  height: 88.37%;
  width: 30.38%;
  top: 11.63%;
  right: 69.62%;
  bottom: 0;
  left: 0;
}
.lugar5 {
  height: 83.9%;
  width: 92.51%;
  top: 16.1%;
  right: 7.49%;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-200);
}
.b17,
.kpi5 {
  position: absolute;
  height: 8.72%;
  width: 33.29%;
  top: 65.12%;
  left: 29.54%;
  display: inline-block;
}
.b17 {
  height: 19.88%;
  width: 84.47%;
  top: 45.35%;
  left: 15.67%;
  font-size: var(--font-size-xl);
}
.cone-trofeu-icon1 {
  position: absolute;
  height: 24.24%;
  width: 57.84%;
  top: 18.31%;
  right: 24.83%;
  bottom: 57.44%;
  left: 17.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.week-91 {
  height: 69.17%;
  width: 64.32%;
  left: 18.44%;
  display: inline-block;
}
.foto5,
.top-11,
.week-91 {
  position: absolute;
  top: 0;
}
.foto5 {
  height: 7.73%;
  width: 92.51%;
  right: 7.49%;
  bottom: 92.27%;
  left: 0;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.top-11 {
  height: 100%;
  width: 28.82%;
  right: 34.53%;
  bottom: 0;
  left: 36.65%;
}
.top-kpi1 {
  position: absolute;
  top: -0.1px;
  left: 17px;
  width: 250.2px;
  height: 172px;
}
.your-best-productive1 {
  position: absolute;
  top: 179.9px;
  left: 39px;
  font-size: var(--h6-size);
  font-family: var(--button-2-medium-15p);
  color: var(--color-darkslateblue-100);
}
.top-kpi-group {
  width: 283px;
  position: relative;
  height: 211px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-smi);
  color: var(--white-white-100-high-emphasys);
  font-family: var(--font-poppins);
}
.suggestion-kpi-current-container1 {
  position: absolute;
  top: 39.9px;
  left: 0;
}
.span2 {
  font-size: var(--font-size-3xl);
}
.i1,
.span3,
.week-121 {
  font-weight: 600;
}
.i1 {
  font-size: var(--h6-size);
  text-decoration: underline;
}
.span3 {
  font-size: var(--font-size-3xl);
}
.week-12-2204-container1 {
  position: absolute;
  height: 55.93%;
  width: 100%;
  top: -0.17%;
  left: 0;
  color: var(--color-darkslateblue-100);
  display: inline-block;
  font-size: var(--paragraph-large-size);
}
.semester-20232-week-12-22041 {
  width: 284px;
  position: relative;
  height: 59px;
  font-size: var(--h6-size);
  color: var(--color-blue-100);
}
.semester-20232-group,
.top-productive2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.semester-20232-group {
  border-radius: var(--br-xl);
  background-color: var(--white-white-100-high-emphasys);
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  min-height: 333px;
  font-size: var(--font-size-xl);
}
.top-productive2 {
  height: 380px;
  gap: var(--gap-3xl);
}
.previous1 {
  position: absolute;
  top: 0;
  left: 17.33%;
  font-weight: 500;
}
.previous-button-item {
  position: absolute;
  height: 66.67%;
  width: 8%;
  top: 16.67%;
  right: 92%;
  bottom: 16.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.previous-button1 {
  width: 75px;
  position: relative;
  height: 18px;
}
.curent-week-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-100);
}
.curent-week3 {
  position: absolute;
  width: 93.81%;
  top: 27.5%;
  left: 4.1%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.curent-week2 {
  width: 105px;
  position: relative;
  height: 40px;
  color: var(--white-white-100-high-emphasys);
}
.previous-button-group {
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% + 107.5px);
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.weekly-activity1 {
  position: absolute;
  height: 62.22%;
  width: 22.73%;
  top: 0;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  display: inline-block;
}
.frame-parent21 {
  width: 735px;
  position: relative;
  height: 45px;
}
.group-child67 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white-white-100-high-emphasys);
}
.group-child68,
.group-child69,
.group-child70,
.group-child71,
.group-child72,
.group-child73 {
  position: absolute;
  height: 0.52%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 99.48%;
  left: 0;
  background-color: var(--color-whitesmoke-400);
}
.group-child69,
.group-child70,
.group-child71,
.group-child72,
.group-child73 {
  top: 19.89%;
  bottom: 79.6%;
}
.group-child70,
.group-child71,
.group-child72,
.group-child73 {
  top: 39.77%;
  bottom: 59.71%;
}
.group-child71,
.group-child72,
.group-child73 {
  top: 59.66%;
  bottom: 39.82%;
}
.group-child72,
.group-child73 {
  top: 79.54%;
  bottom: 19.94%;
}
.group-child73 {
  top: 99.43%;
  bottom: 0.05%;
}
.rectangle-parent26 {
  position: absolute;
  height: 74.02%;
  width: 92.23%;
  top: 13.18%;
  right: 0;
  bottom: 12.8%;
  left: 7.77%;
}
.mon5,
.tue5 {
  position: absolute;
  height: 95.81%;
  width: 6.83%;
  top: 1.2%;
  left: 0;
  display: inline-block;
}
.tue5 {
  height: 99.4%;
  width: 4.24%;
  top: 0;
  left: 17.57%;
}
.wed4 {
  height: 95.81%;
  width: 6.83%;
  left: 32.05%;
}
.fri5,
.sat5,
.sun5,
.thu5,
.wed4 {
  position: absolute;
  top: 1.2%;
  display: inline-block;
}
.thu5 {
  height: 95.81%;
  width: 6.13%;
  left: 48.16%;
}
.fri5,
.sat5,
.sun5 {
  height: 99.4%;
}
.fri5 {
  width: 4.94%;
  left: 63.92%;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}
.sat5,
.sun5 {
  width: 4.24%;
  left: 79.86%;
}
.sun5 {
  height: 95.81%;
  width: 4.9%;
  left: 95.1%;
}
.mon-parent1 {
  position: absolute;
  height: 6.42%;
  width: 86.12%;
  top: 93.54%;
  right: 2.11%;
  bottom: 0.04%;
  left: 11.76%;
}
.completed3,
.div45 {
  position: absolute;
  height: 7.09%;
  width: 22.7%;
  top: 11.11%;
  left: 15.5%;
  display: inline-block;
}
.completed3 {
  height: 6.88%;
  width: 100%;
  top: 0;
  left: 0;
}
.div46 {
  position: absolute;
  width: 22.7%;
  top: 27.47%;
  left: 16.4%;
}
.div46,
.div47,
.div48,
.div49 {
  height: 7.09%;
  display: inline-block;
}
.div47 {
  position: absolute;
  width: 22.7%;
  top: 43.83%;
  left: 16.4%;
}
.div48,
.div49 {
  left: 15.5%;
}
.div48 {
  position: absolute;
  width: 22.7%;
  top: 60.19%;
}
.div49 {
  width: 20.9%;
  top: 76.59%;
}
.div49,
.div50,
.parent2 {
  position: absolute;
}
.div50 {
  height: 7.09%;
  width: 8.2%;
  top: 92.95%;
  left: 28.2%;
  display: inline-block;
}
.parent2 {
  height: 89.97%;
  width: 16.74%;
  top: 0;
  right: 83.26%;
  bottom: 10.03%;
  left: 0;
  text-align: right;
}
.percent-complete-child19 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-blue-100);
  height: 143px;
}
.percent-complete-child20 {
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-turquoise-100);
  height: 155px;
}
.percent-complete-child21 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue-100);
  height: 108px;
}
.percent-complete7 {
  position: absolute;
  height: 96.19%;
  width: 9.64%;
  top: 0;
  right: 90.36%;
  bottom: 3.81%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete-child23 {
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-turquoise-100);
  height: 88px;
}
.percent-complete-child24 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue-100);
  height: 177px;
}
.percent-complete8 {
  position: absolute;
  height: 96.19%;
  width: 9.64%;
  top: 0.56%;
  right: 75.3%;
  bottom: 3.25%;
  left: 15.06%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete-child27 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue-100);
  height: 178px;
}
.percent-complete9 {
  position: absolute;
  height: 96.7%;
  width: 9.64%;
  top: 1.12%;
  right: 60.24%;
  bottom: 2.18%;
  left: 30.12%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete-child29 {
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-turquoise-100);
  height: 42px;
}
.percent-complete10,
.percent-complete11 {
  position: absolute;
  height: 96.19%;
  width: 9.64%;
  top: 2.18%;
  right: 45.18%;
  bottom: 1.62%;
  left: 45.18%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete11 {
  top: 2.74%;
  right: 30.12%;
  bottom: 1.07%;
  left: 60.24%;
}
.percent-complete-child34,
.percent-complete-child35,
.percent-complete-child36 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-blue-100);
  height: 143px;
  display: none;
}
.percent-complete-child35,
.percent-complete-child36 {
  background-color: var(--color-turquoise-100);
  height: 88px;
}
.percent-complete-child36 {
  background-color: var(--color-mediumslateblue-100);
  height: 108px;
}
.percent-complete12 {
  position: absolute;
  height: 99.44%;
  width: 9.64%;
  top: 0;
  right: 15.06%;
  bottom: 0.56%;
  left: 75.3%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete-child37 {
  width: 15px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-blue-100);
  height: 184px;
  display: none;
}
.percent-complete13 {
  position: absolute;
  height: 100%;
  width: 9.64%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90.36%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-7xs);
}
.percent-complete-group {
  position: absolute;
  height: 75.71%;
  width: 89.14%;
  top: 13.57%;
  right: 0;
  bottom: 10.72%;
  left: 10.86%;
}
.group-parent15,
.group-parent16 {
  position: absolute;
  height: 100%;
  width: 96.25%;
  top: 0;
  right: 3.75%;
  bottom: 0;
  left: 0;
}
.group-parent15 {
  height: 78.04%;
  width: 93.71%;
  top: 13.32%;
  right: 4.11%;
  bottom: 8.64%;
  left: 2.18%;
}
.group-child74,
.group-child75 {
  position: absolute;
  height: 85.16%;
  width: 7.33%;
  top: 9.34%;
  right: 40.05%;
  bottom: 5.49%;
  left: 52.62%;
  border-radius: 50%;
  background-color: var(--color-turquoise-100);
}
.group-child75 {
  top: 11.54%;
  right: 92.67%;
  bottom: 3.3%;
  left: 0;
  background-color: var(--color-blue-100);
}
.research4,
.teaching3 {
  position: absolute;
  height: 100%;
  width: 34.95%;
  top: 0;
  left: 65.05%;
  display: inline-block;
}
.teaching3 {
  width: 33.98%;
  left: 12.14%;
}
.ellipse-container,
.group-child76 {
  position: absolute;
  height: 97.85%;
  width: 66.93%;
  top: 2.15%;
  right: 33.07%;
  bottom: 0;
  left: 0;
}
.group-child76 {
  height: 83.33%;
  width: 16.13%;
  top: 11.29%;
  right: 83.87%;
  bottom: 5.38%;
  border-radius: 50%;
  background-color: var(--color-mediumslateblue-200);
}
.service3 {
  position: absolute;
  height: 100%;
  width: 73.18%;
  top: 0;
  left: 26.82%;
  display: inline-block;
}
.ellipse-parent1,
.group-parent17 {
  position: absolute;
  height: 100%;
  width: 30.41%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 69.59%;
}
.group-parent17 {
  height: 5.58%;
  width: 41.88%;
  top: 8.7%;
  right: 4.11%;
  bottom: 85.72%;
  left: 54.01%;
  text-align: left;
  font-size: var(--button-2-medium-15p-size);
}
.rectangle-parent25 {
  width: 735px;
  position: relative;
  height: 333.4px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-steelblue);
}
.component-251,
.row-13 {
  display: flex;
  justify-content: flex-start;
}
.component-251 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-blue-100);
}
.row-13 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-70xl);
}
.recent-task3 {
  position: relative;
  font-weight: 600;
}
.div51,
.today1,
.yesterday1 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.today1 {
  left: 11px;
  color: var(--color-blue-100);
}
.div51,
.yesterday1 {
  left: 127px;
}
.div51 {
  left: 245px;
}
.recent-nav-child1,
.recent-nav-inner {
  position: absolute;
  top: 29px;
  left: 0;
  background-color: var(--color-whitesmoke-500);
  width: 1110px;
  height: 1px;
}
.recent-nav-child1 {
  top: 27px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-blue-100);
  width: 95px;
  height: 3px;
}
.recent-nav1 {
  width: 1110px;
  position: relative;
  height: 30px;
}
.recent-table-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white-white-100-high-emphasys);
  width: 1110px;
  height: 397px;
}
.task9,
.time-earned1,
.time-end1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.time-earned1,
.time-end1 {
  left: 536px;
}
.time-earned1 {
  left: 705px;
}
.action1,
.kpi-earned1,
.time-start1,
.type1 {
  position: absolute;
  top: 0;
  left: 352px;
  font-weight: 500;
}
.action1,
.kpi-earned1,
.type1 {
  left: 231px;
}
.action1,
.kpi-earned1 {
  left: 842px;
}
.action1 {
  left: 952px;
}
.recent-table-child5,
.task-group {
  position: absolute;
  top: 22px;
  left: 30px;
  width: 1002px;
  height: 19px;
}
.recent-table-child5 {
  top: 52px;
  background-color: var(--color-aliceblue-200);
  width: 1050px;
  height: 1px;
}
.recent-table-child6,
.recent-table-child7,
.recent-table-child8,
.recent-table-child9 {
  position: absolute;
  top: 118px;
  left: 30px;
  background-color: var(--color-whitesmoke-300);
  width: 1050px;
  height: 1px;
}
.recent-table-child7,
.recent-table-child8,
.recent-table-child9 {
  top: 184px;
}
.recent-table-child8,
.recent-table-child9 {
  top: 250px;
}
.recent-table-child9 {
  top: 316px;
}
.div52,
.h-30m1 {
  position: absolute;
}
.div52 {
  top: 8px;
  left: 842px;
  font-weight: 500;
  color: var(--color-aquamarine);
}
.h-30m1 {
  top: 7px;
  left: 708px;
}
.may-0800-am1,
.may-1030-pm1,
.research5 {
  position: absolute;
  top: 8px;
  left: 541px;
}
.may-0800-am1,
.research5 {
  left: 352px;
}
.research5 {
  left: 231px;
}
.comleted-task-icon3 {
  width: 35px;
  position: relative;
  height: 35px;
}
.comleted-task-icon-group,
.view-task-button1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comleted-task-icon-group {
  top: 0;
  left: 0;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.view-task-button1 {
  top: 1px;
  left: 934px;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkslateblue-400);
  box-sizing: border-box;
  width: 91px;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-mini);
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-darkslateblue-400);
}
.research-task-completed3 {
  position: absolute;
  top: 10px;
  left: 29px;
  width: 1051px;
  height: 35px;
}
.research-task-completed2 {
  position: absolute;
  top: 63px;
  left: 0;
  width: 1080px;
  height: 55px;
  color: var(--color-gray-200);
}
.recent-table1 {
  width: 1110px;
  position: relative;
  height: 397px;
}
.recent-nav-group {
  width: 1129px;
  border-radius: var(--br-xl);
  background-color: var(--white-white-100-high-emphasys);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--h6-size);
  color: var(--color-steelblue);
}
.content13,
.recent-nav-group,
.recent-task2,
.right5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.recent-task2 {
  width: 1136px;
  height: 382px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-xl);
  color: var(--color-darkslateblue-200);
}
.content13,
.right5 {
  /* overflow-y: auto; */
}
.content13 {
  width: 1244px;
  background-color: var(--color-whitesmoke-100);
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--button-2-medium-15p);
}
.right5 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
}
.dashboardreport,
.modal-child {
  background-color: var(--white-white-100-high-emphasys);
}
.dashboardreport {
  width: 100%;
  position: relative;
  height: 1024px;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--h6-size);
  color: var(--color-black);
  font-family: var(--m3-body-medium);
}
.modal-child {
  position: absolute;
  top: 0;
  left: 10.3px;
  border-radius: 23.24px;
  width: 328px;
  height: 295px;
  transform: rotate(2deg);
  transform-origin: 0 0;
}
.icon-bound {
  position: absolute;
  top: 4px;
  left: calc(50% + 120px);
  background-color: red;
  width: 48px;
  height: 48px;
  opacity: 0;
}
.touch-feedback {
  position: absolute;
  height: calc(100% - 8px);
  width: calc(100% - 16px);
  top: 4px;
  right: 8px;
  bottom: 4px;
  left: 8px;
  border-radius: var(--br-5xs);
}
.surface-icon {
  position: absolute;
  width: 100%;
  top: calc(50% - 11px);
  right: 0;
  left: 0;
  border-radius: 39px;
  max-width: 100%;
  overflow: hidden;
  height: 22px;
}
.tint {
  position: absolute;
  top: calc(50% - 9px);
  right: 2px;
  box-shadow: 0 1px 4px rgba(0, 102, 255, 0.16);
  border-radius: var(--br-31xl);
  background-color: var(--white-white-100-high-emphasys);
  width: 18px;
  height: 18px;
}
.system-icons-knobs-on {
  right: 0;
  width: 36px;
  height: 24px;
}
.knobs-on,
.sign-out,
.system-icons-knobs-on {
  position: absolute;
  top: calc(50% - 12px);
}
.knobs-on {
  right: 24px;
  width: 24px;
  height: 24px;
  display: none;
}
.sign-out {
  width: calc(100% - 48px);
  left: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lists-pref-oneline-text {
  width: 328px;
  position: relative;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 19px;
}
.are-you-sure {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.are-you-sure-for-sign-out-wrapper {
  width: 328px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--black-black-54-mid-emphasys);
}
.ic-add-icon,
.margin-left {
  position: relative;
  height: 24px;
}
.ic-add-icon {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.margin-left {
  width: 4px;
}
.left-icon {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button-content,
.text {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  justify-content: flex-start;
  padding: 0 4px;
}
.button-content {
  justify-content: center;
}
.buttons-contained-positive,
.rectangle {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
}
.buttons-contained-positive {
  align-self: stretch;
  background-color: var(--color-mediumslateblue-100);
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px var(--padding-base);
  cursor: pointer;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(86, 103, 137, 0.26);
}
.cancel {
  position: absolute;
  width: calc(100% - 32px);
  top: 9px;
  left: 16px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-contained-enlighte {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.buttons-contained-neutral {
  align-self: stretch;
  position: relative;
  height: 42px;
  color: rgba(21, 24, 32, 0.5);
}
.body,
.buttons-contained-positive-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttons-contained-positive-parent {
  align-self: stretch;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-5xl);
  gap: var(--gap-base);
  color: var(--white-white-100-high-emphasys);
  font-family: var(--font-work-sans);
}
.body {
  position: absolute;
  top: 4.9px;
  left: 4px;
  box-shadow: 0 11.6px 124.28px rgba(18, 45, 108, 0.17);
  border-radius: 23.24px;
  border: 2px solid var(--white-white-100-high-emphasys);
  overflow: hidden;
  padding: 11.6px 0 var(--padding-xs);
}
.modal,
.modal-sign-out {
  width: 338.1px;
  height: 306.3px;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-sign-out {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--m3-body-medium-size);
  color: var(--color-black);
  font-family: var(--font-public-sans);
}
.work-history-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatars-light-version {
  width: var(--spacing-spacing-scale-08);
  position: relative;
  border-radius: var(--shapes-or-rounded-rounded-scale-10);
  height: var(--spacing-spacing-scale-08);
  object-fit: cover;
  z-index: 0;
}
.unreleased-variants {
  width: 12px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--spacing-spacing-scale-09);
  background-color: var(--support-colors-bright-green-bright-green-400-default);
  border: 1px solid var(--white-white-100-high-emphasys);
  box-sizing: border-box;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.avatars-light-version-parent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.min-ago,
.uiux-class {
  position: relative;
  line-height: 20px;
}
.min-ago {
  color: var(--foregrounds-foundations-fgsubtle);
}
.uiux-class-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.close-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.d9-401-1400-1730-wrapper,
.frame-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.d9-401-1400-1730-wrapper {
  flex-direction: row;
  color: var(--foregrounds-foundations-fgmuted);
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.unpublished-components {
  box-shadow: var(--shadows-light-x-small);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.check-as-complete,
.dissmiss {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.check-as-complete {
  color: var(--primary-colors-primary-color-600-default);
}
.dissmiss-parent {
  flex-direction: row;
  gap: var(--gap-10xl);
  color: var(--foregrounds-foundations-fgmuted);
}
.class-notification-light,
.dissmiss-parent,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.class-notification-light {
  width: 406px;
  box-shadow: var(--shadows-light-x-small);
  border-radius: var(--br-base);
  background-color: var(--white-white-100-high-emphasys);
  border: 1px solid var(--border-colors-foundations-borderdefault);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base);
  gap: var(--gap-xs);
}
.vector-icon {
  width: 18px;
  position: relative;
  height: 16px;
}
.support-gr1-student {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-width: 300px;
}
.buttons-group,
.research-notificationlight {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.research-notificationlight {
  width: 406px;
  border-radius: var(--br-base);
  background-color: var(--white-white-100-high-emphasys);
  border: 1px solid var(--border-colors-foundations-borderdefault);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-xs);
}
.buttons-group {
  width: 405px;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-2xs) 17px;
  gap: var(--gap-10xl);
  color: var(--foregrounds-foundations-fgmuted);
}
.notifications-component {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--white-white-100-high-emphasys);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  gap: var(--gap-xs);
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--m3-body-medium-size);
  color: var(--foregrounds-foundations-fgdefault-black);
  font-family: var(--m3-body-medium);
}
.general1 {
  position: relative;
  color: var(--color-darkgray-200);
}
.edit-profile {
  flex: 1;
  position: relative;
}
.frame-child {
  width: 24px;
  position: relative;
  height: 24px;
}
.change-password-parent,
.edit-profile-parent {
  width: 329px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.change-password-parent {
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet-100);
  width: 56px;
  height: 29px;
}
.group-item {
  position: absolute;
  top: 3px;
  left: 30px;
  border-radius: 50%;
  background-color: var(--white-white-100-high-emphasys);
  width: 22px;
  height: 22px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 29px;
}
.enable {
  width: 56px;
  position: relative;
  height: 29px;
}
.language {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.flagus-icon {
  width: 25.6px;
  position: relative;
  height: 17.1px;
  overflow: hidden;
  flex-shrink: 0;
}
.en1 {
  position: relative;
  line-height: 18px;
}
.en {
  padding: var(--padding-5xs);
  gap: var(--gap-9xs);
}
.en,
.lg,
.vn {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vn {
  border-radius: var(--br-3xs);
  background-color: rgba(95, 101, 247, 0.4);
  padding: var(--padding-5xs);
  gap: var(--gap-9xs);
}
.lg {
  border-radius: var(--br-xl);
  background-color: var(--white-white-100-high-emphasys);
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-2xs) var(--padding-5xs);
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--m3-body-medium-size);
  font-family: var(--button-2-medium-15p);
}
.general,
.language-parent {
  width: 329px;
  display: flex;
  justify-content: flex-start;
}
.language-parent {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.general {
  height: 368px;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
}
.settings-child {
  width: 379.5px;
  position: relative;
  border-top: 0.5px solid #cacaca;
  box-sizing: border-box;
  height: 0.5px;
}
.about-us {
  width: 295px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-inner {
  width: 23.2px;
  position: relative;
  height: 24px;
}
.about-us-parent,
.more,
.settings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.more,
.settings {
  width: 320px;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.settings {
  width: 354px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white-white-100-high-emphasys);
  justify-content: center;
  padding: var(--padding-xl) 0 var(--padding-xl) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-23xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--paragraph-large-size);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
.image-9-icon {
  position: absolute;
  top: -57.4px;
  left: 0;
  width: 1008px;
  height: 1007.3px;
  object-fit: cover;
}
.pricing-plans-that {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 110%;
  display: inline-block;
  width: 370.3px;
}
.get-better-suggestion {
  margin: 0;
}
.get-better-suggestion-container {
  position: absolute;
  top: 103.6px;
  right: 47.6px;
  font-size: 12.6px;
  line-height: 150%;
  display: inline-block;
  width: 274.4px;
  opacity: 0.87;
}
.header {
  width: 370.3px;
  position: relative;
  height: 141.6px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px;
  background-color: var(--light-violet);
  width: 218.4px;
  height: 50.4px;
}
.yearly {
  position: absolute;
  top: 16.8px;
  left: 147.7px;
  line-height: 150%;
}
.button-text8 {
  position: relative;
  line-height: 150%;
}
.button8 {
  position: absolute;
  top: 5.6px;
  left: 5.6px;
  border-radius: var(--br-4xs-4);
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs-2) var(--padding-14xl-6);
  color: var(--white-white-100-high-emphasys);
}
.tab-control {
  width: 218.4px;
  position: relative;
  height: 50.4px;
  font-size: var(--font-size-xs-2);
  color: var(--color-black);
}
.header-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base-8);
}
.background-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 37.8px;
  height: 37.8px;
}
.vector,
.vector1,
.vector2 {
  position: absolute;
  top: 18.9px;
  right: 20.3px;
  border-radius: var(--br-6xs-3);
  background-color: var(--primary);
  width: 6.3px;
  height: 9.1px;
}
.vector1,
.vector2 {
  top: 11.2px;
  right: 12.6px;
  width: 14px;
  height: 6.3px;
}
.vector2 {
  top: 18.9px;
  width: 6.3px;
  height: 9.1px;
}
.icon4 {
  width: 37.8px;
  position: relative;
  height: 37.8px;
}
.free-trial,
.starter-plan {
  position: relative;
  line-height: 120%;
}
.starter-plan {
  font-size: var(--font-size-xs-2);
  line-height: 150%;
  opacity: 0.6;
}
.free-trial-parent,
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
}
.title {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-9xl);
  gap: var(--gap-base-8);
}
.divider {
  width: 288.4px;
  position: relative;
  border-top: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 0.7px;
}
.icon5 {
  position: absolute;
  top: 0.7px;
  right: 109.2px;
  width: 16.8px;
  height: 16.8px;
}
.limited-suggestion {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 150%;
}
.item {
  width: 126px;
  position: relative;
  height: 17.5px;
}
.icon6 {
  position: absolute;
  top: 0.7px;
  right: 142.2px;
  width: 16.8px;
  height: 16.8px;
}
.item1 {
  width: 159px;
  position: relative;
  height: 17.5px;
}
.icon7 {
  position: absolute;
  top: 0.7px;
  right: 103.2px;
  width: 16.8px;
  height: 16.8px;
}
.item2 {
  width: 120px;
  position: relative;
  height: 17.5px;
}
.icon8 {
  position: absolute;
  top: 0.7px;
  right: 57.2px;
  width: 16.8px;
  height: 16.8px;
}
.item3 {
  width: 74px;
  position: relative;
  height: 17.5px;
}
.icon9 {
  position: absolute;
  top: 0.7px;
  right: 181.2px;
  width: 16.8px;
  height: 16.8px;
}
.item4 {
  width: 198px;
  position: relative;
  height: 17.5px;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-8);
}
.for-people-just-container {
  width: 207.9px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  opacity: 0.87;
}
.for-limited-period {
  position: relative;
  font-size: var(--font-size-4xs-4);
  line-height: 150%;
  opacity: 0.6;
}
.button9,
.pricing1 {
  display: flex;
  align-items: center;
}
.pricing1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
  text-align: left;
  font-size: var(--font-size-6xl-2);
}
.button9 {
  border-radius: var(--br-4xs-4);
  background-color: var(--primary);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs-2) var(--padding-9xl);
  font-size: var(--font-size-xs-2);
  color: var(--white-white-100-high-emphasys);
}
.for-people-just-getting-starte-parent {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-3xs-8);
}
.for-people-just-getting-starte-parent,
.list-parent,
.plan {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4xl-8);
}
.list-parent {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xl);
  font-size: var(--font-size-xs-2);
}
.plan {
  border-radius: var(--br-base-8);
  background-color: var(--white-white-100-high-emphasys);
  border: 0.7px solid var(--color-gainsboro-200);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl-6) 0;
}
.vector3,
.vector4,
.vector5,
.vector6 {
  position: absolute;
  top: 26.6px;
  right: 21px;
  border-radius: var(--br-6xs-3);
  background-color: var(--blue);
  width: 6.3px;
  height: 10.5px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.vector4,
.vector5,
.vector6 {
  top: 18.9px;
  height: 6.3px;
}
.vector5,
.vector6 {
  right: 13.3px;
  height: 9.1px;
}
.vector6 {
  top: 26.6px;
  right: 9.8px;
  height: 5.6px;
}
.icon11 {
  position: absolute;
  top: 0.7px;
  right: 47.2px;
  width: 16.8px;
  height: 16.8px;
}
.item5 {
  width: 64px;
  position: relative;
  height: 17.5px;
}
.icon12 {
  position: absolute;
  top: 0.7px;
  right: 127.2px;
  width: 16.8px;
  height: 16.8px;
}
.item6 {
  width: 144px;
  position: relative;
  height: 17.5px;
}
.icon13 {
  position: absolute;
  top: 0.7px;
  right: 182.2px;
  width: 16.8px;
  height: 16.8px;
}
.item7 {
  width: 199px;
  position: relative;
  height: 17.5px;
}
.icon14 {
  position: absolute;
  top: 0.7px;
  right: 193.2px;
  width: 16.8px;
  height: 16.8px;
}
.item8 {
  width: 210px;
  position: relative;
  height: 17.5px;
}
.icon15 {
  position: absolute;
  top: 0.7px;
  right: 236.2px;
  width: 16.8px;
  height: 16.8px;
}
.item9 {
  width: 253px;
  position: relative;
  height: 51px;
}
.plan1 {
  border-radius: var(--br-base-8);
  background: linear-gradient(175.67deg, #d7e7f9, #d5f4ec);
  border: 2.8px solid var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl-6) 0;
  gap: var(--gap-4xl-8);
}
.icon19 {
  position: absolute;
  top: 0.7px;
  right: 165.2px;
  width: 16.8px;
  height: 16.8px;
}
.item12 {
  width: 182px;
  position: relative;
  height: 17.5px;
}
.icon21 {
  position: absolute;
  top: 0.7px;
  right: 136.2px;
  width: 16.8px;
  height: 16.8px;
}
.item14 {
  width: 153px;
  position: relative;
  height: 17.5px;
}
.enter-quyetdaika-in-promotion-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xl-8);
  text-align: center;
  font-size: var(--font-size-3xs-8);
}
.plans,
.pricing {
  display: flex;
  justify-content: flex-start;
}
.plans {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base-8);
  text-align: left;
  font-size: var(--font-size-6xl-2);
}
.pricing {
  position: absolute;
  top: 28px;
  left: 55.6px;
  flex-direction: column;
  align-items: center;
  gap: 33.6px;
}
.close-icon2 {
  position: absolute;
  top: 10.6px;
  left: 952.5px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  opacity: 0.7;
}
.choose-plan {
  width: 1008px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white-white-100-high-emphasys);
  height: 898.4px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: 39.2px;
  color: var(--primary);
  font-family: var(--m3-body-medium);
}
