.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  height: 53.22%;
  width: 37.5%;
  top: 21.05%;
  right: 31.25%;
  bottom: 25.73%;
  left: 31.25%;
}
.flagvn {
  width: 100%;
  position: relative;
  height: 17.1px;
  overflow: hidden;
}
