.group-icon2,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2,
.vector-icon24 {
  height: 53.8%;
  width: 50%;
  right: 50%;
  bottom: 46.2%;
}
.group-icon2 {
  height: 39.18%;
  width: 39.84%;
  top: 7.02%;
  right: 55.08%;
  bottom: 53.8%;
  left: 5.08%;
}
.flagus {
  width: 100%;
  position: relative;
  height: 17.1px;
  overflow: hidden;
}
