.ant-designcloud-upload-outlin-icon {
  width: 60.4px;
  position: relative;
  height: 60.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.drag-and-drop,
.or {
  width: 243.2px;
  position: relative;
  display: inline-block;
  height: 33.7px;
  flex-shrink: 0;
}
.or {
  width: 26.6px;
}
.or-wrapper {
  width: 232.6px;
  height: 42.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid-8);
  box-sizing: border-box;
  text-align: center;
  color: #3a3a3a;
}
.select-file {
  width: 124.3px;
  position: relative;
  display: inline-block;
  height: 33.7px;
  flex-shrink: 0;
}
.select-file-wrapper,
.upload-avt {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-file-wrapper {
  width: 239.7px;
  border-radius: 7.1px;
  background-color: #0ae8cd;
  flex-direction: row;
  padding: var(--padding-mid-8);
}
.upload-avt {
  width: 825.6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--white-white-100-high-emphasys);
  border: 1.8px dashed #454545;
  height: 463.4px;
  flex-direction: column;
  padding: 117.2px 335.5px;
  gap: 10.7px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-9xl-4);
  color: var(--color-black);
  font-family: var(--m3-body-medium);
}
